p{
    background-color: rgb(219, 195, 195);
    width: 500px;
    height: 35px;
    text-align:start;
    padding: 10px;
    margin-left: 90px;
    margin-top: -50px;
    margin-bottom: 30px;

}
.b{ 
    background-color: rgb(150, 150, 202);
    width: 60px;
    height: 35px;
    text-align:center;
    padding-top: 5px;
}
.a{display: inline-block;
margin-top: 20px;
}
p::after { 
    position: absolute;
    content:"";
    width: 10px;
    height: 56px;
    background-color: rgb(146, 248, 248);
    margin-left: -320px;
    margin-top: -10px;
}
p::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: -10px;
    margin-top: 3px;
    margin-left: 75px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  rgb(146, 248, 248) transparent transparent;
    border-width: 15PX;
}
.dd{background-color: rgb(180, 114, 114);
text-align: start;
width: 300px;
height:50px;
padding-top: 20px;
position: relative;
counter-increment: name;
margin-left: 90px;
margin-bottom: 20px;
}
.dd::after{
    content:"";
    width: 10px;
    height: 70px;
    position: absolute;
    right: -10px;
top: 0px;
background-color: rgb(233, 198, 198);
}
.dd::before{
content: counter(name);
position: absolute;
color: purple;
width: 70px;
height: 70px;
background-color: rgb(233, 198, 198);
margin-left: 2px;
text-align: center;
margin-left: -70px;
top: 0;
font:bold;
font-size: 50px;
}